* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: #23252C;
    font-family: 'Inter', serif;
}

.info {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

.info-background {
    background: #1A1B21;
}

.info-background > h1 {
    margin: 0;
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 25px;
    
}

.info-background > h3 {
    color: #F3BF99;
    font-size: 12.8px;
    margin-top: 5px
}

.info-background > p {
    color: #F5F5F5;
    font-size: 10.2px;
}

.about, .interests { 
    color: #ffffff;
    background-color: #1A1B21;
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;
}

.about > h2, .interests > h2 {
    font-size: 16px;
    margin: 0;
    padding-top: 30px;
}
.about > p, .interests > p {
    font-size: 10.2px;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 0;
}

.interests {
    padding-bottom: 30px;
}



.profile-pic-container {
    height: 320px;
    width: 320px;
    background: url("images/profile-img-min.png") no-repeat;
    background-size: cover;
    margin-top: 44px;
    border-radius: 10px 10px 0 0;
    
}


/* buttons */
i {
    margin-right: 10px;
    border-radius: 3px;
}

.footer {
    color: #918E9B;
    background-color: #161619;
    width: 320px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    
}

.footer > i {
    cursor: pointer;
    
}

a {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.email-btn {
    color: #374151;
    background: white;
    border-radius: 6px;
}

.linkedin-btn {
    color: #FFFFFF;
    border-radius: 6px;
    background: #5093E2;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}